body{
    font-family: sans-serif;
    border: 5px solid black;
   
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
h2{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

#cost{
    font-size: 22px;
    font-weight: bold;
}
.shipping{
    font-weight: lighter;
    color: #777;
}
.more-info:link, .more-info:visited{
    color:black;
}
.more-info:active, .more-info:hover{
    text-decoration: none;
}
.list-style{
    list-style:square;
    line-height: 2;
    font-style: italic;
    display: inline-block;
}
button{
    background-color: aquamarine;
    font-weight: bold;
    padding:15px;
    width:100%;
    
}
button:hover{
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    
}